* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

* {
  -webkit-font-smoothing: antialiased;
}

body.theme-light {
  color: #758193;
}
body.theme-light h1, body.theme-light h2 {
  color: #000;
}

body.theme-dark {
  color: #758193;
}
body.theme-dark h1, body.theme-dark h2 {
  color: #FFF;
}

body {
  font-family: Muli;
  font-weight: 400;
}

h1, h2 {
  font-weight: 600;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #4299E1;
}

.c-light {
  color: #CCC;
}
.c-red {
  color: #F77B7C;
}

.row {
  display: flex;
}
.row.row--middle {
  align-items: center;
}
.row.row--bottom {
  align-items: flex-end;
}
.row.row--separate {
  justify-content: space-between;
}
.row.row--right {
  justify-content: flex-end;
}
.row.row--gutter {
  margin-left: -20px;
  margin-right: -20px;
}
.row.row--gutter > .row__column {
  padding-left: 20px;
  padding-right: 20px;
}
.row .row__column {
  flex: 1;
}
.row .row__column.row__column--compact {
  flex: none;
}
.row .row__column.row__column--double {
  flex: 2;
}
.row .row__column.row__column--triple {
  flex: 3;
}
.row .row__column.row__column--middle {
  align-self: center;
}

@media screen and (max-width: 900px) {
  .row.row--responsive {
    flex-direction: column;
  }
  .row.row--responsive > .row__column {
    margin-top: 20px;
  }
  .row.row--responsive > .row__column:first-child {
    margin-top: 0;
  }
  .row.row--responsive > .row__column.row__column--middle {
    align-self: flex-start;
  }
  .row.row--responsive > .row.row--right {
    justify-content: flex-start;
  }
}
.theme-light .navigation {
  background: #FFF;
  border-bottom: 1px solid #E4E8EB;
}
.theme-light .navigation a:hover, .theme-light .navigation a.active {
  color: #000;
}

.theme-dark .navigation {
  background: #2F3136;
  border-bottom: 1px solid #36393F;
}
.theme-dark .navigation a:hover, .theme-dark .navigation a.active {
  color: #FFF;
}

.navigation {
  display: flex;
  align-items: center;
  height: 70px;
}
.navigation .wrapper {
  display: flex;
  justify-content: space-between;
}
.navigation .navigation__menu {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  align-items: center;
  list-style: none;
}
.navigation .navigation__menu > li {
  padding-left: 15px;
  padding-right: 15px;
}
.navigation .navigation__menu > li > a {
  display: flex;
  align-items: center;
  color: #758193;
}

@media screen and (max-width: 800px) {
  .navigation {
    height: 84px;
  }
  .navigation .wrapper {
    flex-direction: column;
  }
  .navigation .wrapper .navigation__menu {
    padding-top: 15px;
  }
  .navigation .wrapper .navigation__menu:first-child {
    padding-top: 0;
  }
  .navigation .hidden {
    display: none;
  }
}
.avatar {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}
.wrapper.wrapper--narrow {
  max-width: 450px;
}

.theme-light .card {
  background: #FFF;
  border: 1px solid #E4E8EB;
}

.theme-dark .card {
  background: #2F3136;
  border: 1px solid #36393F;
}

.card {
  padding: 20px;
  border-radius: 5px;
}
.card.card--blue {
  border-top: 2px solid #4299E1;
}
.card.card--green {
  border-top: 2px solid #7FCD69;
}
.card.card--red {
  border-top: 2px solid #F77B7C;
}

.theme-light .box {
  background: #FFF;
  border: 1px solid #E4E8EB;
}
.theme-light .box .box__section {
  border-bottom: 1px solid #E4E8EB;
}
.theme-light .box .box__section.box__section--highlight {
  background: #FFF;
}

.theme-dark .box {
  background: #2F3136;
  border: 1px solid #36393F;
}
.theme-dark .box .box__section {
  border-bottom: 1px solid #36393F;
}

.box {
  border-radius: 5px;
}
.box .box__section {
  padding: 20px;
}
.box .box__section:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.box .box__section:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: none;
}
.box .box__section.box__section--header {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 600;
}
.box ul.box__section {
  padding: 0;
  list-style: none;
}
.box ul.box__section li {
  padding: 20px;
  border-bottom: 1px solid #E4E8EB;
}
.box ul.box__section li:last-child {
  border-bottom: none;
}

.input {
  margin-bottom: 20px;
}
.input label {
  margin-bottom: 10px;
  display: block;
}
.input.input--small {
  max-width: 400px;
}

.theme-light label {
  color: #000;
}
.theme-light input[type=text], .theme-light input[type=email], .theme-light input[type=password],
.theme-light select,
.theme-light .searchable__input, .theme-light .searchable__list,
.theme-light textarea {
  background: #FFF;
  border: 1px solid #E4E8EB;
}
.theme-light .searchable__list input {
  border-bottom: 1px solid #E4E8EB;
}
.theme-light .searchable__list ul li:hover {
  background: #FFF;
}

.theme-dark input[type=text], .theme-dark input[type=email], .theme-dark input[type=password],
.theme-dark select,
.theme-dark .searchable__input, .theme-dark .searchable__list,
.theme-dark textarea {
  color: #FFF;
  background: #202225;
  border: 1px solid #36393F;
}
.theme-dark .searchable__list input {
  border-bottom: 1px solid #36393F;
}
.theme-dark .searchable__list ul li:hover {
  background: #2F3136;
}

input[type=text], input[type=email], input[type=password], select, .searchable__input, textarea, .button {
  font: inherit;
  border-radius: 5px;
}

input[type=text], input[type=email], input[type=password], select, .searchable__input, textarea {
  padding: 10px;
  width: 100%;
  -webkit-appearance: none;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, select:focus, .searchable__input:focus, textarea:focus {
  outline: 0;
  border-color: #4299E1;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.25);
}

select {
  background: #FFF;
}

.searchable__input:hover {
  cursor: pointer;
}
.searchable__container {
  position: relative;
  margin-top: 10px;
}
.searchable__list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}
.searchable__list input {
  padding: 10px;
  width: 100%;
  font: inherit;
  background: none;
  border: none;
}
.searchable__list input:focus {
  outline: 0;
}
.searchable__list ul {
  overflow-y: scroll;
}
.searchable__list ul li {
  padding: 10px;
}
.searchable__list ul li:hover {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

button.button {
  border: none;
}
button.button:hover {
  cursor: pointer;
}
button.button.link {
  padding: 0;
  font-size: 16px;
  color: #4299E1;
  background: none;
}
button.button.button--wide {
  padding: 12.5px 20px;
  width: 100%;
}

.button, .button-dropdown {
  background: #4299E1;
}

.button {
  padding: 10px 20px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #FFF;
}
.button.button--secondary {
  background: #FFF;
  color: #000;
  border: 1px solid #E4E8EB;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.button.button--small {
  padding: 5px 10px;
}

.shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.abx {
  position: relative;
}

.date-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 372px;
  border-radius: 5px;
  border: 1px solid red;
}
.date-picker button {
  font: inherit;
  background: none;
  border: none;
}
.date-picker .date-picker__top {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid red;
}
.date-picker .date-picker__bottom {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.date-picker .date-picker__bottom button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 2px;
}
.date-picker .date-picker__bottom button:nth-child(-n+7) {
  border-top: none;
}
.date-picker .date-picker__bottom button:nth-child(7n) {
  border-right: none;
}
.date-picker .date-picker__bottom button:not([disabled]):hover {
  cursor: pointer;
}
.date-picker .date-picker__bottom button.active {
  background: #4299E1;
  color: #FFF;
}

.theme-light .date-picker {
  background: #F8F9FB;
  border-color: #E4E8EB;
}
.theme-light .date-picker .date-picker__top {
  border-color: #E4E8EB;
}
.theme-light .date-picker button {
  color: #000;
}
.theme-light .date-picker .date-picker__bottom button:not([disabled]):hover {
  background: #E4E8EB;
}

.theme-dark .date-picker {
  background: #202225;
  border-color: #36393F;
}
.theme-dark .date-picker .date-picker__top {
  border-color: #36393F;
}
.theme-dark .date-picker button {
  color: #FFF;
}
.theme-dark .date-picker .date-picker__bottom button:not([disabled]):hover {
  background: #36393F;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown__button {
  font: inherit;
  background: none;
  color: inherit;
  border: none;
}
.dropdown .dropdown__button:hover {
  cursor: pointer;
}
.dropdown .dropdown__button:focus {
  outline: 0;
}
.dropdown .dropdown__menu {
  position: absolute;
  top: 40px;
  right: 0;
  padding: 10px 0;
  min-width: 150px;
  border-radius: 5px;
}
.dropdown .dropdown__menu ul {
  list-style: none;
}
.dropdown .dropdown__menu ul li a {
  padding: 5px 10px;
  display: block;
  font-size: 14px;
  white-space: nowrap;
}

.theme-light .dropdown .dropdown__menu {
  background: #FFF;
  border: 1px solid #E4E8EB;
}
.theme-light .dropdown .dropdown__menu li a {
  color: #000;
}
.theme-light .dropdown .dropdown__menu li a:hover {
  background: #E4E8EB;
}

.theme-dark .dropdown .dropdown__menu {
  background: #2F3136;
  border: 1px solid #36393F;
}
.theme-dark .dropdown .dropdown__menu li a {
  color: #FFF;
}
.theme-dark .dropdown .dropdown__menu li a:hover {
  background: #36393F;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.my-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-4 {
  margin-top: 40px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-05 {
  margin-top: 5px;
}
.mt-0 {
  margin-top: 0;
}

.mb-4 {
  margin-bottom: 40px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-05 {
  margin-bottom: 5px;
}
.mb-0 {
  margin-bottom: 0;
}

.ml-4 {
  margin-left: 40px;
}
.ml-3 {
  margin-left: 30px;
}
.ml-2 {
  margin-left: 20px;
}
.ml-1 {
  margin-left: 10px;
}
.ml-05 {
  margin-left: 5px;
}
.ml-0 {
  margin-left: 0;
}

.mr-4 {
  margin-right: 40px;
}
.mr-3 {
  margin-right: 30px;
}
.mr-2 {
  margin-right: 20px;
}
.mr-1 {
  margin-right: 10px;
}
.mr-05 {
  margin-right: 5px;
}
.mr-0 {
  margin-right: 0;
}

.w-150 {
  width: 150px;
}
.w-50 {
  width: 50px;
}

.mw-400 {
  max-width: 400px;
}

.fs-sm {
  font-size: 14px;
  font-weight: 600;
}

.theme-light .color-dark {
  color: #000;
}

.theme-dark .color-dark {
  color: #FFF;
}

.color-blue {
  color: #4299E1;
}
.color-green {
  color: #7FCD69;
}
.color-red {
  color: #F77B7C;
}

body.theme-light {
  background: #F8F9FB;
}
body.theme-dark {
  background: #202225;
}

canvas {
  width: 100%;
}

progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  max-width: 300px;
  height: 10px;
  vertical-align: 0;
}
progress::-webkit-progress-bar {
  background: #E2E8F0;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
progress::-webkit-progress-value {
  background: #4299E1;
  border-radius: 5px;
}

.bg {
  display: flex;
}
.bg button.bg__button {
  padding: 10px 20px;
  font: inherit;
  font-size: 14px;
  border: 1px solid red;
  border-left: 0;
  border-right: 0;
}
.bg button.bg__button:focus {
  outline: 0;
}
.bg button.bg__button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid red;
}
.bg button.bg__button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid red;
}
.bg button.bg__button:hover, .bg button.bg__button.bg__button--active {
  cursor: pointer;
  background: #4299E1;
  color: #FFF;
}

.theme-light .bg button.bg__button {
  border-color: #E4E8EB;
}
.theme-light .bg button.bg__button:not(.bg__button--active):not(:hover) {
  background: #FFF;
}

.theme-dark .bg button.bg__button {
  color: #FFF;
  border-color: #36393F;
}
.theme-dark .bg button.bg__button:not(.bg__button--active):not(:hover) {
  background: #202225;
}

.validation_error {
  color: red;
  font-size: 14px;
}

.hint {
  font-size: 14px;
  font-style: italic;
}

.button-dropdown {
  border-radius: 5px;
}
.button-dropdown .button-dropdown__section:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button-dropdown .button-dropdown__section:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.button-dropdown .button-dropdown__section:hover {
  background: rgba(0, 0, 0, 0.1);
}
.button-dropdown .button-dropdown__section a, .button-dropdown .button-dropdown__section button {
  display: block;
  padding: 5px 10px;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
}
.button-dropdown .button-dropdown__section button {
  height: 100%;
  background: none;
  border: none;
}
.button-dropdown .button-dropdown__section button:hover {
  cursor: pointer;
}
.button-dropdown .button-dropdown__section button:focus {
  outline: 0;
}
